.newTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  margin-top: -3rem;

  height: 3.375rem;

  flex: none;
  order: 0;
  flex-grow: 1;
}
.newTask textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: white;
  resize: none;
}

.newTask textarea::placeholder {
  color: var(--gray-300);
}

.newTask textarea:focus {
  border-color: var(--purple);
  outline: none;
}

.newTask textarea {
  width: 100%;
  padding: 1rem;
}

.newTask button {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border-color: transparent;
}

.newTask button:hover {
  background: var(--blue);
  transition: 0.1s;
}

.created p {
  display: flex;
  color: var(--blue);
  font-weight: 700;
  font-size: 1.188rem;
  margin-top: 3rem;
  gap: 0.5rem;
}

.created span {
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  border-radius: 62.438rem;
  color: var(--gray-200);
}

.conclued p {
  color: var(--purple);
  font-weight: 700;
  font-size: 1.188rem;
  gap: 0.5rem;
  margin-top: 3rem;
}

.conclued span {
  color: red;
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  border-radius: 62.438rem;
  color: var(--gray-200);
}

.taskValue header {
  display: flex;
  justify-content: space-between;
}
